

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set instructions %}
### Step 1. Setup on Filemaker side
1. Setup a User with a privilege set that includes <code>fmrest</code>
1. Ensure that user has access to the layout needed
1. Add a text field to table and layout called <code>webhook_payload</code>, this is where the JSON will be sent to when creating a new record
1. It is up to you to deal with that JSON in the webhook_payload and parse it out to the fields needed, via a Filemaker script.

### Step 2. Setup on Craft side
1. Enter the layout URL for webhook_payload to be sent to. eg <code>https://fm.mydomain.com/fmi/data/v2/databases/mydatabse/layouts/mylayout/records</code>
1. Enter the URL to get the session token eg <code>https://fm.mydomain.com/fmi/data/v2/databases/mydatabse/sessions</code>
1. Enter your username and password of the user with <code>fmrest</code> privileges
{% endset %}

<div class="fui-settings-block">
  {{ instructions | t('formie', { name: integration.displayName() }) | md }}
</div>

{% if not craft.app.config.general.allowAdminChanges %}
<span class="warning with-icon">
        {{ 'Integration settings can only be editable on an environment with `allowAdminChanges` enabled.' | t('formie') | md(inlineOnly=true) }}
    </span>
{% endif %}

{{ forms.autosuggestField({
label: 'Layout URL - To send webhook payload to' | t('formie'),
instructions: 'Enter your {name} URL here.' | t('formie', { name: integration.displayName() }),
name: 'webhook',
required: true,
suggestEnvVars: true,
value: integration.settings.webhook?? '',
warning: macros.configWarning('webhook', 'formie'),
errors: integration.getErrors('webhook'),
}) }}

{{ forms.autosuggestField({
label: 'Session token URL' | t('formie'),
instructions: 'Enter your {name} URL here.' | t('formie', { name: integration.displayName() }),
name: 'authUrl',
required: true,
suggestEnvVars: true,
value: integration.settings.authUrl?? '',
warning: macros.configWarning('authUrl', 'formie'),
errors: integration.getErrors('authUrl'),
}) }}

{{ forms.autosuggestField({
label: 'fmrest Username' | t('formie'),
instructions: 'Enter username.' | t('formie', { name: integration.displayName() }),
name: 'username',
required: true,
suggestEnvVars: true,
value: integration.settings.username ?? '',
warning: macros.configWarning('username', 'formie'),
errors: integration.getErrors('username'),
}) }}

{{ forms.autosuggestField({
label: 'fmrest Password' | t('formie'),
instructions: 'Enter password.' | t('formie', { name: integration.displayName() }),
name: 'password',
required: true,
suggestEnvVars: true,
value: integration.settings.password?? '',
warning: macros.configWarning('password', 'formie'),
errors: integration.getErrors('password'),
}) }}
